<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/skillset">Skillset</a></li>
    <li><a href="/objectives">Objectives</a></li>
    <li><a href="/contact">Contact Info</a></li>
  </ul>
</nav>
